Problem call a function with multiple words and return a string separated with sapces containing only the words of even length

In [11]:
def evenWordsCollector(*args):
    l = []
    for i in args:
        if ifWordEven(i):
            l.append(i)
    res = ' '.join(l)
    return res

In [14]:
def ifWordEven(i):
    if len(i)%2 == 0:
        return True
    else:
        return False

In [19]:
evenWordsCollector('assd','asdse','adssssad','adsadsdsf')

'assd adssssad'

In [29]:
def varArgs(**kargs):
    print(type(kargs))

In [30]:
varArgs(name='s')

<class 'dict'>

# Problem StatementÂ¶
#Take employee data and put it in a list

In [31]:
def createEmployeeData(list_emp,**kwargs):
    list_emp.append(kwargs)

In [32]:
list_emp = []
createEmployeeData(list_emp,name = 'abc',age = 20)

In [33]:
list_emp

[{'name': 'abc', 'age': 20}]

In [50]:
createEmployeeData(list_emp,name ='ge',age = 43)

In [51]:
list_emp

[{'name': 'abc', 'age': 20},
 {'name': 'def', 'age': 40, 'location': 'blr'},
 {'name': 'def', 'age': 40, 'location': 'blr'},
 {'name': 'ef', 'age': 43},
 {'name': 'ef', 'age': 43},
 {'name': 'ef', 'age': 43},
 {'name': 'ge', 'age': 43}]

In [53]:
createEmployeeData(list_emp,name ='ge',age = 34,salary = 100000)
createEmployeeData(list_emp,name ='fe',age = 43,salary = 500000)
createEmployeeData(list_emp,name ='re',age = 33,salary = 41000)

In [54]:
list_emp

[{'name': 'abc', 'age': 20},
 {'name': 'def', 'age': 40, 'location': 'blr'},
 {'name': 'def', 'age': 40, 'location': 'blr'},
 {'name': 'ef', 'age': 43},
 {'name': 'ef', 'age': 43},
 {'name': 'ef', 'age': 43},
 {'name': 'ge', 'age': 43},
 {'name': 'ge', 'age': 34, 'salary': 100000},
 {'name': 'fe', 'age': 43, 'salary': 500000},
 {'name': 're', 'age': 33, 'salary': 41000}]

In [73]:
for i in list_emp:
    if 'location' in i:
        print(i)

{'name': 'def', 'age': 40, 'location': 'blr'}
{'name': 'def', 'age': 40, 'location': 'blr'}

In [86]:
def getPeopleSalary(list_emp,salary=50000):
    res =[]
    for i in list_emp:
        if 'salary' in i:
            if i['salary'] >= salary:
                res.append(i)
    return res

In [87]:
getPeopleSalary(list_emp,100000)

[{'name': 'ge', 'age': 34, 'salary': 100000},
 {'name': 'fe', 'age': 43, 'salary': 500000}]

# student Problem

In [88]:
def studentMarkSheet(list_student,**marks):
    list_student.append(marks)

In [90]:
list_student = []
studentMarkSheet(list_student,name = 'Abi',maths = 84,science = 77,engilish = 88)
studentMarkSheet(list_student,name = 'Balu',maths = 74,science = 82,engilish = 81)
studentMarkSheet(list_student,name = 'Kevin',maths = 97,science = 93,engilish = 78)
studentMarkSheet(list_student,name = 'Sam',maths = 89,science = 87,engilish = 91)
studentMarkSheet(list_student,name = 'Ram',maths = 78,science = 81,engilish = 86)

In [91]:
list_student

[{'name': 'Abi', 'maths': 84, 'science': 77, 'engilish': 88},
 {'name': 'Balu', 'maths': 74, 'science': 82, 'engilish': 81},
 {'name': 'Kevin', 'maths': 97, 'science': 93, 'engilish': 78},
 {'name': 'Sam', 'maths': 89, 'science': 87, 'engilish': 91},
 {'name': 'Ram', 'maths': 78, 'science': 81, 'engilish': 86}]

In [92]:
def avgMarks(list_student):
    total_mark = 0
    count = 0
    for i in list_student:
        for k,v in i.items():
            if k != 'name':
                total_mark += v
                count += 1
        i['avg'] =total_mark/count

In [93]:
avgMarks(list_student)

In [94]:
list_student

[{'name': 'Abi', 'maths': 84, 'science': 77, 'engilish': 88, 'avg': 83.0},
 {'name': 'Balu', 'maths': 74, 'science': 82, 'engilish': 81, 'avg': 81.0},
 {'name': 'Kevin',
  'maths': 97,
  'science': 93,
  'engilish': 78,
  'avg': 83.77777777777777},
 {'name': 'Sam',
  'maths': 89,
  'science': 87,
  'engilish': 91,
  'avg': 85.08333333333333},
 {'name': 'Ram', 'maths': 78, 'science': 81, 'engilish': 86, 'avg': 84.4}]

In [95]:
def findTopper(list_student):
    def t(f):
        return f['avg']
    return max(list_student,key = t)

In [96]:
findTopper(list_student)

{'name': 'Sam',
 'maths': 89,
 'science': 87,
 'engilish': 91,
 'avg': 85.08333333333333}