In [2]:
# Writing a function to add 2 nos
def mysum(a,b):
    return a + b

In [3]:
mysum(10,4)

14

In [5]:
# Writing a function to multiplt 2 nos
def mymult(a,b):
    return a * b

In [7]:
mymult(10,20)

200

In [8]:
# Assigning the return value of a function to a variable
res  = mymult(4,5)

In [9]:
print(res)

20

In [10]:
def mycal(a,b):
    sum_ans = mysum(a,b)
    prod = mymult(a,b)
    return prod, sum_ans

In [11]:
mycal(10,20)

(200, 30)

In [12]:
# Writing function in camel case
def checkEvenNumber(num):
    if num % 2 == 0:
        return True
    else:
        return False

In [13]:
checkEvenNumber(10)

True

In [14]:
def myMainCode(num1, num2):
    checkEven = checkEvenNumber(num1)
        
    if checkEven:
        res = mymult(num1, num2)
    else:
        res = mysum(num1, num2)
        
    return res

In [15]:
myMainCode(9,3)

12

In [17]:
#Jack n Jill
#Jack increments 2 
#Jill decrements 1

In [18]:
value = 0
def jackFunc():
    global value
    value += 2
    
def jillFunc():
    global value
    value -= 1

In [19]:
i = 0
while i<10:
    jackFunc()
    i += 1

In [20]:

value

20

In [21]:
i = 0
while i<10:
    jillFunc()
    i += 1

In [22]:
value

10

In [23]:
value = 0
def jackFunc(value):
    value += 2
    return value
    
def jillFunc(value):
    value -= 1
    return value

In [24]:
i = 0
while i<10:
    value = jackFunc(value)
    i += 1

In [26]:
value

2

In [27]:
i = 0
while i<10:
    value = jillFunc(value)
    i += 1

In [28]:
value

-8

# Problem Statement
#WAF that takes a string
#Check if the string has a vowel
#If it has vowel print it once
#Else print it twice

In [30]:
def checkIfWordHas(word, checkalpha):
    for ch in word:
        if ch in checkalpha:
            return True
    return False
def printWordTimes(word,times):
    for t in range(times):
        print(word)
def myUtility(word, checkalpha, times):
    check = checkIfWordHas(word, checkalpha)
    
    if check:
        print(word)
    else:
        printWordTimes(word,times)

In [33]:
myUtility('vcgekmxloax','i',4)

vcgekmxloax
vcgekmxloax
vcgekmxloax
vcgekmxloax

# Default params

In [38]:
def printMyName(name,age,location = 'Kerala'):
    print(name,age,location)

In [39]:
printMyName('Paul',4)

Paul 4 Kerala

# Named Parameters

In [41]:
def printMyName(name,age,location = 'Kerala'):
    print(name,age,location)

In [42]:
printMyName(age = 29,name = 'fdger',location = 'bangalore')

fdger 29 bangalore

In [43]:
# # Variable Arguments

In [44]:
def calcSum(*args):
    sum_ans  = 0
    for num in args:
        sum_ans += num
    return sum_ans

In [45]:
calcSum(10,10,30,40,50,100)

240

# Named Packing

In [46]:
def myFunc(name, loc, age):
    if name == 'abc':
        print(name)
    else:
        print(loc,age)

In [47]:
myFunc(loc = 'mumbai', age  = 10, name ='abc')

abc

In [48]:
def myFunc(**kwargs):
    if kwargs['name'] == 'abc':
        print(kwargs['name'])
    else:
         print(kwargs['loc'], kwargs['age'])

In [50]:
myFunc(loc = 'mumbai', age  = 10, name ='bc')

mumbai 10

In [52]:
#Multiply all even numbers

In [56]:
def mySumFunc(*args):
    res = 1
    for i in args:
        if i%2 == 0:
            res *= i
    return res

In [57]:
mySumFunc(2,3,4,2)

16